.center-component {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.row {
    margin-top: 1.5em;
}

.addUser>input{
    width: fit-content;   
    height: 40px;
    margin-right: 12px;
    margin-top: 1em;
    width: 150px;

}

.action-btn {
    cursor: pointer;
}